@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, button {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

a {
    text-decoration: none;
    color: #edf0f1;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.links li a {
    text-decoration: none;
}

.header a {
    text-decoration: none;
}
.logo {
    margin-right: 20px;
}

.title {
    margin-right: auto;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease 0s; 
}

.title:hover {
    color: #0088a9;
}

.links {
    list-style: none;
    margin-bottom: 0rem;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.footer {
    padding: 70px 0;
}

.foot-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: '';
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.foot-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.footer-links {
    padding-left: 0px;
}

.footer-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.footer-links li a:hover {
    color: #0088a9;
}

.social-links a i{
    transition: all 0.3s ease 0s;
}

.social-links a i:hover {
    color: #0088a9;
}

#top-left {
    background-color: #24252a;
    height: 400px;
    width: 100%;
}

#top-right {
    background-color: #24252a;
    height: 400px;
    width: 100%;
}

#schedule-panel {
    padding: 0px;
}

#schedule-panel2 {
    padding-left: 0px;
    padding-right: 10px;
}
.custom {
    width: 100px;
    position: relative;
    margin-left: 20px;
}

.contact-body {
    background-color: #24252a;
    height: 700px;
    width: 100%;
}
#label-head {
    background-color: transparent;
}

#label-item {
    color: #ffffff;
}

.panel > .panel-heading{
    background-image: none;
    background-color: #0088a9;
}
#user-panel{
    background-image: none;
    border-width: 2px;
    border-color: #0088a9;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #0088a9;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.message-container {
    position:relative;
	margin-bottom:25px;
}

.message-container label {
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}

.message-container textarea {
    height: 100px;
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}

.booking-body {
    height: 700px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    border:2px solid #0088a9;
    border-radius: 4px;
    padding: 80px 100px;
}
